<div class="container">
    <div class="panel">
        <div class="row">
            <div class="estudantes col-md-5">
                <h3>Estudantes:</h3>
                <ul>
                    <li>Amanda Leal</li>
                    <li>Lucas Siqueira Fernandes</li>
                </ul>
            </div>

            <div class="disciplina col-md-7">
                <h3>Qualidade de Software</h3>
                <ul>
                    <li>Professora: MARIA ALCILÉIA ALVES ROCHA</li>
                </ul>
            </div>
            

            <div class="col-md-12 border-top pt-2">
                <h3>Metodologia de Teste</h3>
                <ul>
                    <li>Linguagem utilizada: Ruby On Rails</li>
                    <li>Testes realizados com <b>RSpec</b></li>
                    <li>Metodologia de testes baseadas em TDD</li>
                    <li>Metodologia utilizada: <b>Caixa-Preta</b></li>
                </ul>
            </div>
        </div>
    </div>
</div>