// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: image-url("/gasolina.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
  .panel {
      text-align: center;
      font-family: monospace;
      background-color: rgba(245,245,245,0.7);
      margin-top:15%;
      padding: 40px;
  }
}